html{
    font-family:sans-serif;
    height:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

body{
    margin:0;
    min-height:100%;
    background-color:#fff;
    font-family:Arial,sans-serif;
    font-size:14px;
    line-height:20px;
    color:#333;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block;
}

audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline;
}

audio:not([controls]){
    display:none;height:0;
}

[hidden],template{
    display:none;
}

a{
    background-color:transparent;
}

a:active,a:hover{
    outline:0;
}

abbr[title]{
    border-bottom:1px dotted;
}

b,strong{
    font-weight:bold;
}

dfn{
    font-style:italic;
}

h1{
    font-size:2em;
    margin:.67em 0;
}

mark{
    background:#ff0;
    color:#000;
}

small{
    font-size:80%;
}

sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}

sup{
    top:-0.5em;
}

sub{
    bottom:-0.25em;
}

img{
    border:0;
}

svg:not(:root){
    overflow:hidden;
}

figure{
    margin:1em 40px;
}

hr{
    box-sizing:content-box;
    height:0;
}

pre{
    overflow:auto;
}

code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em;
}

button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0;
}

button{
    overflow:visible;
}

button,select{
    text-transform:none;
}

button,html input[type="button"],input[type="reset"]{
    -webkit-appearance:button;
    cursor:pointer;
}

button[disabled],html input[disabled]{
    cursor:default;
}

button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;padding:0;
}

input{
    line-height:normal;
}

input[type="checkbox"],input[type="radio"]{
    box-sizing:border-box;
    padding:0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
    height:auto;
}

input[type="search"]{
    -webkit-appearance:none;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
    -webkit-appearance:none;
}

fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em;
}

legend{
    border:0;
    padding:0;

}textarea{
    overflow:auto;
}

optgroup{
    font-weight:bold;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

td,th{
    padding:0;
}





body{
    background-color: darkgrey;
}

header{
    margin: 100px;
}

header h1{
    font-size: 8vw;
    line-height: 8vw;
}

section{
    margin: 50px;
}

.bleu{
    background-color: skyblue;
}

.blanc{
    background-color: white;
}

.rouge{
    background-color: indianred;
}  

#erreur p {
    font-size: 13px;
    margin-top: -12px;
}

.button {
    padding-left: 90px; 
}

button {
    margin-left: .5em;
    color: black;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: #F6B27D;
}

button:hover {
    background-color: #F5AA6F;
}

.signup{
    background-color: white;
    font-family: arial, sans-serif;
    width: 500px;
    padding: 30px;
    margin: 50px auto;
    margin-top: 100px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.signup h2{
    background: #4D4D4D;
    text-transform: uppercase;
    text-align: left;
    font-family: arial, sans-serif;
    color: grey;
    font-size: 22px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 20px -30px;
}
.signup input[type="text"],
.signup input[type="date"],
.signup input[type="datetime"],
.signup input[type="email"],
.signup input[type="number"],
.signup input[type="search"],
.signup input[type="time"],
.signup input[type="url"],
.signup input[type="password"],
.signup input[type="tel"],
.signup textarea,
.signup select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid;
    border-color: #ddd;
    background: transparent;
    margin-bottom: 20px;
    font: 16px Arial, sans-serif;
    height: 45px;
}
.signup textarea{
    resize:none;
    overflow: hidden;
}
.signup input[type="button"], 
.signup input[type="submit"]{
    /*-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;*/
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    /*border-radius: 20px;*/
    display: inline-block;
    /*position: absolute;
    left: -100px;*/
    cursor: pointer;
    color: #FFFFFF;
    font-family: arial sans-serif;
    font-size: 18px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    height: 40px;
    margin-left: 5%;/*50%*/
    margin-top: 20px;
}
.signup input[type="button"]:hover, 
.signup input[type="submit"]:hover {
    background-color:#34CACA;
}



@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    header{
        margin: 5vw;
    }
    
    header h1{
        text-align: center;
    }
    
    img{
        width: 100%;
    }
    
    #formulaire{
        margin: 0%;
    }
    
    .signup{
        width: 80vw;
        margin-left: 0%;
        margin-right: 0%;
    }
    
    .signup input[type="text"],
    .signup input[type="date"],
    .signup input[type="datetime"],
    .signup input[type="email"],
    .signup input[type="number"],
    .signup input[type="search"],
    .signup input[type="time"],
    .signup input[type="url"],
    .signup input[type="password"],
    .signup input[type="tel"],
    .signup textarea,
    .signup select {
        font-size: 2.3vh;
    }
    
}